# Informational files
include README.rst
include LICENSE

# Docs and tests
graft docs
prune docs/build
graft tests

# Exclude any compile Python files grafted by tests/ directory.
global-exclude *.pyc

# Setup-related things
include pavement.py
include requirements-dev.txt
include requirements.txt
include setup.py
include tox.ini
